gait_data.csv

# Python virtual environments
venv/
.venv/
.venv-run/
env/
ENV/

*.pkl

__pycache__/
*.pyc

*.png
*.csv

*_left.json
*_right.json

*_windows.npy

*_holdout.npz


venv/
.venv/
.venv-run/
env/
ENV/